.tile {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
  background-color: var(--tileBgColor, #ffe800);
  border: 2px solid var(--borderColor, #005898);
  border-radius: var(--tileBorderRadius, 8px);
}

@media (min-width: 641px) {
  .tile {
    min-height: 140px;
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 640px) {
  .tile {
    min-height: 100px;
    padding: 1rem;
  }
}

.tileLeftSideContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.tileTitle {
  font-size: 1.25rem;
}

.tileValue {
  align-self: center;
  font-size: 2rem;
}

.tileDetails {
  display: flex;
  align-items: center;
  gap: 8px 16px;
}
